@import url(http://fonts.googleapis.com/css?family=Noto+Serif|Raleway);

html{
    width:100%;
}
html {-webkit-text-size-adjust:none}
body{
    height:100%;
    width:100%;
}
.wrapper  header{
    height:45px;
    width:100%;
    border-bottom:1px solid #ececec;
    padding-top:36px;   
   
}
.wrapper{
    max-width:400px;
    margin:0 auto;
}
.wrapper header h1{
    margin-left:20px;
    font-family:"Raleway";
    color:#7ad9de;
    font-size:21px;
}
.wrapper li{
   border-bottom:1px solid #ececec;
   min-height:116px;
   
}
.avatar{
   
    width:33.3%;
    min-width:137px;
    height:116px;
    position:relative;
    text-align:center;
    float:left;
   
    display:table;
    text-align:center;
}
.avatar span{
    display:table-cell;vertical-align:middle;
}
.avatar img{
    width:73px;
    height:73px;
    border-radius:75px;
   
}
.info{
  
    padding-top:33px;
    padding-bottom:33px;
}
.info h1{
    font-family:"Noto Serif";
    font-style:italic;
    font-size:18px;
}
.info h2{
    font-size:15px;
    color:#7ad9de;
    margin-top:5px;
     font-family:"Raleway";
}
section ul li:nth-of-type(10) h1{
    font-size: 15px;
}
section ul li:nth-of-type(11) h1,section ul li:nth-of-type(12) h1{
    padding:0px;
    margin:0px;
    line-height:50px;        
}


@media screen and (max-width: 320px) {
   section ul li:nth-of-type(10) h1{
    font-size: 14px;
}


}
